# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build
/dist

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE specific files
.vscode/*
!.vscode/settings.json
.idea
*.swp
*.swo
.DS_Store

# misc
.cache
.temp
*.log

.npm

.eslintcache

.node_repl_history

.vscode-test

src/styles/output.css

/node_modules/.cache

.vercel